

/*
#chat {
  border-style: solid;
  margin: auto;
  max-width: 500px;
  min-height: 300px;
  padding: 10px;
}

#textbox {
  margin: auto;
}

#textInput {
  min-width: 80%;
}

#send {
  min-width: 10%;
}

#chatbox {
  max-width: 500px;
  margin: auto;
}

#userChat, #currentUserChat {
  background-color: #435cb5;
  color: white;
  border-radius: 8px;
  width: fit-content;
  padding: 3px 8px;
}

#currentUserChat {
  background-color: gray;
  margin-left: auto;
}

#chatContainer {
  width: 100%;
  height: 30px;
  margin-bottom: 5px
}
*/
