<!-- {% extends 'layout.html' %}

{% block body %}

<link rel="stylesheet" href="login.css">

<form action="/login" method="POST" id="login-form">
  <input type="text" id="username" name="username" placeholder="Username" class="dark-background"><br>
  <input type="password" id="password" name="password" placeholder="Password" class="dark-background"><br>
  <input type="submit" name="login" value="Sign in" id="login-button">
</form>

<br>
<a href="/register">Register<a>

{% endblock %} -->


<link rel="stylesheet" href="login.css">

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


<div class="screen-1">

	<img src="bridge-icon.svg" alt="Bridge Icon" class="logo">

	<div class="username">
		<label for="username">Username</label>
		<div class="sec-2">
			<ion-icon name="mail-outline"></ion-icon>
			<input type="text" name="username" placeholder="Username">
		</div>
	</div>
	<div class="password">
		<label for="password">Password</label>
		<div class="sec-2">
			<ion-icon name="lock-closed-outline"></ion-icon>
			<input class="pas" type="password" id="password" name="password" placeholder="············"></ion-input>
			<ion-icon id="eye" name="eye-outline"></ion-icon>
		</div>
	</div>

	<input class="submit-button" type="submit" name="login" value="Login" id="login-button">

	<input class="submit-button" type="submit" name="register" value="Sign Up" id="register-button">

</div>

<script>
  document.getElementById('eye').addEventListener('click', function() {
  var passwordInput = document.getElementById('password');
  var icon = document.getElementById('eye');
  
  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    icon.name = 'eye-off-outline';
  } else {
    passwordInput.type = 'password';
    icon.name = 'eye-outline';
  }
});
</script>
