body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}

button {
    position: relative;
    margin: 15px auto;
    display: block;
}


img {
    width: 100%;
    /* border: 1px solid black; */
}

#game {
    width: 75vh;
    height: 75vh;
    border: 1px solid black;
    background-color: darkgreen;
    position: relative;
    padding: 0 0 0 0;
    margin: 0 auto;
}

.centered {
    text-align: center;
    color: bisque;
}

#game p {
    font-size: 18px;
}

#ready-button {
    top: 50%;
    transform: translateY(calc(-50% - 15px));
}

#ready-info,
#play-area {
    margin: -50% auto 0;
    transform: translateY(-50%);
}

#ready-info {
    width: 300px;
}

#play-area {
    width: 250px;
    height: 250px;
}

.client-team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.opp-team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: -100% 0 0 0;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hand,
.in-trick {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.hand {
    width: 100%;
}

.in-trick {
    width: 180%;
}

#partner_hand,
#oppL_hand,
#partner-trick-card,
#oppL-trick-card {
    transform: rotate(180deg);
}

.card {
    width: 23%;
    display: inline-block;
    z-index: 0;
}

.card + .card {
    margin-left: -17.5%;
}

.card:hover {
    cursor: default;
}

.playable:hover {
    border: 2px solid blue;
    transition: border-color 0.5s ease;
    transform: translateY(-10px);
    cursor: pointer;
    z-index: 3000;
}

.current-turn {
    box-shadow: 0px 0px 22px #8fd7d2;
}

input.glow {
    -webkit-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
    -moz-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
    box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 13px;
}

.logo {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 13px;
    color: #f2f2f3;
}

.source-code-pro {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    /* font-style: normal; */
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    width: 55%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 18px;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
}


.suit {
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
}

#C {
    background-color: #d9ffe9; /* Green */
    color: #235939;
}

#D {
    background-color: #f5dfba; /* Orange */
    color: #8a5803;
}

#H {
    background-color: #e3c2c1; /* Red */
    color: #8a0803;
}

#S {
    background-color: #cfcfcf; /* Black */
    color: #0a0a0a;
}

#p {
    background-color: #235939; /* Green */
    color: #ffffff;
}

#d {
    background-color: #8a0803; /* Red */
    color: #ffffff;
}

#r {
    background-color: #3e4b8c; /* Blue */
    color: #ffffff;
}
  
/* Style the tab content */
.tabcontent {
    background-color: gray;
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    width: 50.8%;
    margin-left: auto;
    margin-right: auto;
}

.auction {
    position: relative;
    top: -150px;
    width: 50%;
    height: 50px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-y:auto;
    background-color: #f1f1f1;
}

#bidding {
    position: relative;
    top: -100px;
}