body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}

button {
    position: relative;
    margin: 15px auto;
    display: block;
}

img {
    width: 100%;
    /* border: 1px solid black; */
}

#game {
    width: 75vh;
    height: 75vh;
    border: 1px solid black;
    background-color: darkgreen;
    position: relative;
    padding: 0 0 0 0;
    margin: 0 auto;
}

.centered {
    text-align: center;
    color: bisque;
}

/* #game p {
    font-size: 18px;
} */

#start-button {
    top: 50%;
    transform: translateY(calc(-50% - 15px));
}

#waiting {
    margin-top: -50%;
}

#play_area {
    margin-top: -50%;
}

#client_team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

#opp_team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: -100% 0 0 0;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hand {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#partner_hand,
#oppL_hand {
    transform: rotate(180deg);
}

.card {
    width: 23%;
    display: inline-block;
    z-index: 0;
}

.card img:hover {
    border: 2px solid blue;
    transition: border-color 0.5s ease;
    transform: translateY(-10px);
}

.card + .card {
    margin-left: -17.5%;
}

input.glow{
    -webkit-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
-moz-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #3e4684;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: white;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 13px;
}

.logo {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 13px;
  color: #f2f2f3;
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
