body {
    background-color: darkslategray;
}

body p {
    margin: 5% auto;
    text-align: center;
    color: bisque;
}

div p {
    margin: 10px auto;
}

button {
    position: relative;
    margin: 15px auto;
    display: block;
}

img {
    width: 100%;
    /* border: 1px solid black; */
}

#game {
    width: 75vh;
    height: 75vh;
    border: 1px solid black;
    background-color: darkgreen;
    position: relative;
    padding: 0 0 0 0;
    margin: 0 auto;
}

.centered {
    text-align: center;
    color: bisque;
}

/* #game p {
    font-size: 18px;
} */

#ready-button {
    top: 50%;
    transform: translateY(calc(-50% - 15px));
}

#ready-info,
#play-area {
    margin: -50% auto 0;
    transform: translateY(-50%);
}

#ready-info {
    width: 300px;
}

#play-area {
    width: 250px;
    height: 250px;
}

#client_team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

#opp_team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: -100% 0 0 0;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hand {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#partner_hand,
#oppL_hand {
    transform: rotate(180deg);
}

.card {
    width: 23%;
    display: inline-block;
    z-index: 0;
}

.card:hover {
    cursor: default;
}

.playable:hover {
    border: 2px solid blue;
    transition: border-color 0.5s ease;
    transform: translateY(-10px);
    cursor: pointer;
}

.card + .card {
    margin-left: -17.5%;
}

input.glow {
    -webkit-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
    -moz-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
    box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
}

.current-turn {
    box-shadow: 0px 0px 22px #8fd7d2;
}