body {
    background-color: #dde5f4;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

#play-container {
    display: block flex;
    box-sizing: border-box;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

#chatbox {
    float: right;
    width: 20vw;
    min-width: 100px;
    height: 80%;
    max-height: 400px;
    border: 2px solid black;
    margin-right: 10px;
}

#chat {
    width: calc(100% - 10px);
    height: calc(100% - 24px - 1.6px);
    overflow-y: auto;
    background-color: white;
    padding: 0 5px;
}

#username {
    display: None;
}

#serverChat {
    color: blue;
}

#chatContainer {
    padding-top: 3px;
}

#tableid {
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 4px;
    color: black;
    border-color: black;
    margin-left: 3px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

#textbox {
    width: 100%;
    border-top: inherit;
    display: inline-flex;
}

#textInput {
    width: 80%;
    border-radius: 0px;
    border: none;
    height: 22px;
}

*:focus {
    outline: none;
}

#send {
    min-width: 10%;
    border-radius: 0px;
    background-color: #3e4684;
    border: none;
    color: white;
    width: 20%;
    float: right;
}

#table-info {
    min-width: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#table-info p {
    display: inline;
    margin: auto;
    font-size: 18px;
}

.score,
.tricks,
#contract {
    width: 85%;
    margin: 5px 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkgrey;
}

.score-value,
.tricks-taken,
#contract-value {
    float: right;
}

#game {
    border: 1px solid black;
    background-color: #57965b;
    position: relative;
    width: 75vh;
    min-width: 75vh;
    height: 75vh;
    display: inline-block;
}

.centered {
    text-align: center;
    color: bisque;
}

#game p {
    font-size: 18px;
    margin: auto;
}

.direction {
    position: absolute;
    width: 5%;
    height: 5%;
    background-color: inherit;
    border: inherit;
    z-index: 5;
    display: flex;
}

.direction p {
    margin: auto;
}

#left-dir {
    top: 47.5%;
    left: calc(-5% - 1px);
    border-right-style: none;
}

#right-dir {
    top: 47.5%;
    right: calc(-5% - 1px);
    border-left-style: none;
}

#top-dir {
    left: 47.5%;
    top: calc(-5% - 1px);
    border-bottom-style: none;
}

#bottom-dir {
    left: 47.5%;
    bottom: calc(-5% - 1px);
    border-top-style: none;
}

.switch-seat-div {
    text-align: center;
    margin: 4%;
}

.opp-team .switch-seat-div {
    writing-mode: vertical-rl;
}

#game .switch-seat-div p {
    margin: 5px;
    text-wrap: nowrap;
}

#ready-info,
#trick-area {
    margin: -50% auto 0;
    transform: translateY(-50%);
}

#ready-info {
    width: fit-content;
}

#ready-info p {
    margin-bottom: 1em;
}

#ready-button {
    margin: auto;
    display: block;
}

#trick-area {
    width: 50%;
    height: 50%;
}

.client-team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.opp-team {
    width: 50%;
    height: 100%;
    position: relative;
    left: 25%;
    margin: -100% 0 0 0;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hand,
.in-trick {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.hand {
    width: 100%;
}

.in-trick {
    width: 180%;
}

#oppR_hand {
    transform: rotate(180deg);
}

/* #trick-area .opp-team {
    justify-content: space-evenly;
} */

#oppL-trick-card,
#oppR-trick-card {
    transform: rotate(90deg);
}

.card {
    width: 23%;
    display: inline-block;
    z-index: 0;
}

.card + .card {
    margin-left: -15%;
}

.card:hover {
    cursor: default;
}

.playable:hover {
    border: 2px solid blue;
    transition: border-color 0.5s ease;
    transform: translateY(-10px);
    cursor: pointer;
    z-index: 3000;
}

.current-turn {
    box-shadow: 0px 0px 22px #8fd7d2;
}

input.glow {
    -webkit-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
    -moz-box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
    box-shadow: 0px 0px 31px 9px rgba(143,215,210,1);
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 41.25vh;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: "Source Code Pro", monospace;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.44vh 2.23vh;
    font-size: 2.37vh;
    margin: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ddd;
}


.suit {
    border: none;
    padding: 1vh 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: .4vh;
}

#C {
    background-color: #d9ffe9; /* Green */
    color: #235939;
}

#D {
    background-color: #f5dfba; /* Orange */
    color: #8a5803;
}

#H {
    background-color: #e3c2c1; /* Red */
    color: #8a0803;
}

#S {
    background-color: #cfcfcf; /* Black */
    color: #0a0a0a;
}

#p {
    background-color: #34784f; /* Green */
    color: #ffffff;
}

#d {
    background-color: #bd4a4a; /* Red */
    color: #ffffff;
}

#r {
    background-color: #3e4b8c; /* Blue */
    color: #ffffff;
}

#Cbid {
    background-color: #d9ffe9; /* Green */
    color: #235939;
}

#Cbid:hover {
    background-color: #beebd1;
}

#Dbid {
    background-color: #f5dfba; /* Orange */
    color: #8a5803;
}

#Dbid:hover {
    background-color: #e0c79d;
}

#Hbid {
    background-color: #e3c2c1; /* Red */
    color: #8a0803;
}

#Hbid:hover {
    background-color: #d4adab;
}

#Sbid {
    background-color: #cfcfcf; /* Black */
    color: #0a0a0a;
}

#Sbid:hover {
    background-color: #b0b0b0;
}

#pbid {
    background-color: #34784f; /* Green */
    color: #ffffff;
}

#pbid:hover {
    background-color: #295e3e;
}

#dbid {
    background-color: #bd4a4a; /* Red */
    color: #ffffff;
}

#fbid:hover {
    background-color: #a34040;
}

#rbid {
    background-color: #3e4b8c; /* Blue */
    color: #ffffff;
}

#rbid:hover {
    background-color: #354078;
}

#Nbid:hover {
    background-color: #c7c7c7;
}
  
/* Style the tab content */
.tabcontent {
    background-color: gray;
    display: none;
    padding: 1.2vh 1.55vh;
    /* border: 1px solid #ccc; */
    border-top: none;
    width: 50.8%;
    margin-left: auto;
    margin-right: auto;
    top: -12vh;
}

.auctionContainer {
    margin-top: -75%;
    width: 50%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    font-size: 2vh;
}

.auction {
    table-layout: fixed;
    border-collapse: collapse;    
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    width: 100%
}

#bidding {
    position: relative;
    margin-top: 4%;
}

.auctionBid {
    height: 3vh;
    width: 2vh;
    border: 1px solid #f1f1f1;
    text-align: center;
}

.vul {
    background-color: #d9635f;
    position: sticky;
    top: 0;
}

.nonvul {
    background-color: #cfcfcf;
    position: sticky;
    top: 0;
}

/* .direction-div { 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
}  */

input#leaveTable {
    margin: 1em;
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 10px;
}

#last-trick {
    margin: 1em;
}