{% extends 'layout.html' %}

{% block body %}

<!--
<button id="gameState">Get Game State</button>
<p id="gameInfo"></p
-->

<p>User: {{current_user}}</p>
<form action="/openTable">
  <input type="submit" value="New Table"/>
</form>

</hr>

<form action="" name='join' id='join'>
  <input type='text' name='id' id='id'>
  <button action="submit">Join Room</button>
</form>

</hr>

<form action="/chat">
  <input type="submit" value="Chat"/>
</form>

{% if rejoin == True %}
<div>You were disconnected!</div>
<form action="" name='rejoin' id='rejoin'>
  <button action="submit">Rejoin Room</button>
</form>
{% endif %}

{% endblock %}

{% block javascript %}

<script src="/static/js/home.js"></script>

{% endblock %}
