<!-- Templating designed by Peter Simeth, found at https://github.com/petersimeth/basic-flask-template -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ app_data['description'] }}">
    <!-- <meta name="keywords" content="{{ app_data['keywords'] }}"> -->
    <meta name="author" content="{{ app_data['author'] }}">
    <link href="/static/css/table.css" rel="stylesheet">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>{{ app_data['html_title'] }}</title>

    {% block css %}
    {% endblock %}

  </head>

  <body>
    <div class="topnav source-code-pro">
      <a href="/logout" class="" id="logout">logout</a>
      <a href="" class="">{{session['username']}}</a>
      <div href="" class="logo">fsk-bridge</div>
      <p id="clients">Clients: 0</p>
    </div>


    {% block body %}
    {% endblock %}

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
  <script src="/static/js/index.js"></script>
  {% block javascript %}
  {% endblock %}
</html>
