{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var username = "{{current_user}}"
</script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="/static/js/chat.js"></script>
{% endblock %}

{% block body %}
<div> Table created. Table ID is {{table.table_id}} </div>
<div class="centered">Current Players: {{session_table}}</div>
<div class="centered" id="users"></div>

<div id="currentPlayers">
</div>

<div id="players"> </div>

<div id="allCards"> </div>

<div id="logPrinting"> </div>

<div id="play-container">
    <div id="game-container">
        <div id="game">
            <button id="ready-button" class="ready-button" onclick="readyUp()">Ready Up!</button>
        </div>
    </div>
    <div id="chatbox">
        <div id="chat">
        </div>
	<div id="textbox">
            <input type="text" id="textInput" name="textInput">
            <button type="button" id="send">Send</button>
        </div>
    </div>
</div>

{% endblock %}
