{% extends 'layout.html' %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var username = "{{session['username']}}"
</script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="/static/js/color.js"></script>
<script src="/static/js/chat.js"></script>
{% endblock %}

{% block body %}
<div> Table created. Table ID is {{table.table_id}} </div>
<div class="centered">Current Players: {{session_table}}</div>

<div id="play-container">
    <div id="game-container">
        <div id="game">
            <div id="bottom-dir" class="direction">
                <p></p>
            </div>
            <div id="left-dir" class="direction">
                <p></p>
            </div>
            <div id="top-dir" class="direction">
                <p></p>
            </div>
            <div id="right-dir" class="direction">
                <p></p>
            </div>
            <div id="client-team-hands" class="client-team"></div>
            <div id="opp-team-hands" class="opp-team"></div>
            <div id="ready-info">
                <button id="ready-button" class="ready-button" onclick="readyUp()">Ready Up!</button>
            </div>
        </div>
    </div>
    <div id="chatbox" class="roboto-regular">
        <div id="chat">
        </div>
	<div id="textbox">
            <input type="text" id="textInput" name="textInput">
            <button type="button" id="send">Send</button>
        </div>
    </div>
</div>

{% endblock %}
