{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}

{% block body %}
<p> Table created. Table ID is {{table.table_id}} </p>
<p id="currentPlayers">Current Users: {{table.players.items()}}</p>

<div id="currentPlayers">
</div>

<div id="players"> </div>

<div id="allCards"> </div>

<div id="logPrinting"> </div>

<div id="game">
    <button id="start-button" onclick=readyUp()>Ready Up!</button>
</div>
{% endblock %}
