<!-- Templating designed by Peter Simeth, found at https://github.com/petersimeth/basic-flask-template -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ app_data['description'] }}">
    <!-- <meta name="keywords" content="{{ app_data['keywords'] }}"> -->
    <meta name="author" content="{{ app_data['author'] }}">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>{{ app_data['html_title'] }}</title>

    {% block css %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>